{% extends 'base.html.twig' %}

{% block title %}
	Account index
{% endblock %}

{% block body %}
{% include './header.html.twig' %}
	<h1>
		Account index
	</h1>

	<table class="table">
		<thead>
			<tr>
				<th>
					Id
				</th>
				<th>
					Balance
				</th>
				<th>
					Iban
				</th>
				<th>
					Account_state
				</th>
			</tr>
		</thead>
		<tbody>
			{% for account in accounts %}
				<tr>
					<td>
						{{ account.id }}
					</td>
					<td>
						{% if account.balance < 0 %}
							<p class="negative">{{account.balance}}</p>
              {% else %}
                <p class="positive">{{account.balance}}</p>
						{% endif %}

					</td>
					<td>
						{{ account.iban }}
					</td>
					<td>
						{{ account.accountState ? 'Accepted' : 'Pending' }}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">
						no records found
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
